body {
    margin: 0;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f67396, #f9f7f8);
    color: rgb(52, 3, 19);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
   padding: 0px 100px;
    text-align: center;
}

.profile-picture {
    margin-top: 1vh;
}

.profile-picture img {
  
    border-radius: 50%;
}

.content {
   
    padding: 0px;
  
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

section p {
    font-size: 1.2em;
    text-decoration: underline;
}

section ul {
    font-size: 1em;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
}

footer nav {
    text-decoration: underline;
}

header, section, footer {
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style-type: circle;
    padding: 0px;
}

a {
    color: rgb(52, 3, 19);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    ul {
        list-style-type: circle;
       
    }
    .container {
        padding: 10px;
    }

    body {
        padding: 20px;

    }
    header h1 {
        font-size: 3em;
    }

    section p {
        font-size: 1.2em;
    }

    section ul {
        font-size: 1em;
    }

    footer {
        font-size: 1em;
    }
}
