body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f67396, #f9f7f8);
    color: rgb(52, 3, 19);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 80vw;
    height: 70%;
}

.content {
    width: 50%;
    padding: 10px;
}

header h1 {
    margin: 0; 
    font-size: 4vw;
    font-weight: bold; 
    font-style: initial;
}

section p {
    font-size: 1.4vw;
    text-decoration: underline;
}

section ul {
    font-size: 1.4vw;;
}

footer {
    font-size: 1.vw;
}

footer nav {
text-decoration: underline;
}


header, section, footer {
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: rgb(52, 3, 19);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    header h1 {
        margin: 0; 
        font-size: 4vw;
        font-weight: bold; 
        font-style: initial;
    }
    
    section p {
        font-size: 1.7vw;
        text-decoration: underline;
    }
    
    section ul {
        font-size: 1.7vw;;
    }
    
    footer {
        font-size: 1.7vw;
    }
   
}